@font-face {
  font-family: "iconfont"; /* Project id 3261846 */
  src: url('iconfont.woff2?t=1648480698846') format('woff2'),
       url('iconfont.woff?t=1648480698846') format('woff'),
       url('iconfont.ttf?t=1648480698846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-qunchengyuanxinxi:before {
  content: "\e60c";
}

.icon-tuichu:before {
  content: "\e67b";
}

.icon-shanchu:before {
  content: "\e6fe";
}

.icon-yinlianglabashengyin:before {
  content: "\e604";
}

.icon-dibiaotianchong:before {
  content: "\e676";
}

.icon-tupiantianchong:before {
  content: "\e6b2";
}

.icon-recordfill:before {
  content: "\e7a4";
}

.icon-smile:before {
  content: "\e67e";
}

.icon-sound:before {
  content: "\e77b";
}

.icon-DND_mode:before {
  content: "\e69a";
}

.icon-brightness:before {
  content: "\e698";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-keyboard-26:before {
  content: "\e675";
}

