@import url('./nav_bar.less');
@import url('./content.less');
@import url('./input.less');
@import url('./pop-up.less');
@import url('./emoji.less');
@import url('./add-extend.less');

.room {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(240, 240, 240);

    :global {
        .nav-bar {
            .nav-bar();
        }

        .content {
            flex: 1;
            .content();
        }

        .input {
            .input();
        }

        .pop-up {
            .pop-up();
        }

        .emoji {
            .emoji();
        }

        .add-extend {
            .add-extend();
        }
    }
}