
.connect {
    :global {
        width: 80%;
        margin: 20vh auto;
        
        .connect-content {

            & > * {
                margin: 2vh 0;
            }

            .connect-title {
                font-size: 10vw;
                font-weight: 700;
                text-align: center;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: url('~assets/img/wave.gif');
                background-size: 80vw 80vw;
                background-position: 0 -28vw;
            }
        }   
    }
}
