
.connect {
    :global {
        width: 80%;
        margin: 15vh auto;
        
        .connect-content {

            & > * {
                margin: 2vh 0;
            }

            .connect-title {
                width: 50vw;
                height: 50vw;
                max-width: 400px;
                max-height: 400px;
                margin: 0 auto;
            }
        }   
    }
}
