@import url('./normalize.css');

body {
    width: 100vw;
    height: 100vh;
}

/*
    用于清除浮动
*/
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

*::-webkit-scrollbar {
    width: .5vw;
    background-color: transparent;
    box-sizing: border-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
